<!DOCTYPE HTML>
<html>
    <head>
         <meta charset="utf-8" />
         <meta name="viewport" content="width=device-width" />
         <title>@ViewBag.Title</title>
         @Styles.Render("~/Content/bootstrapcss")
    </head>
    <body>
        <header>
            <div class="container-fluid hero-unit">
                <div class="span3">
                </div>
                <div class="span3">
                    <h1>@Html.ActionLink("Touristix", "Index", "Accueil", new { @class = "page-header" })</h1>
                </div>
                <div class="text-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <ul class="inline">
                        <li>@Html.ActionLink("Accueil", "Index", "Accueil")</li>
                        <li>@Html.ActionLink("Destinations", "Index", "Destination")</li>
                        <li>@Html.ActionLink("Bâtiments", "Index", "Batiment")</li>
                        <li>@Html.ActionLink("Activités", "Index", "Activité")</li>
                        <li>@Html.ActionLink("Nous Contacter", "ContactForm", "Contact")</li>                    
                    </ul>
                </div>
            </div>
        </header>
        <div class="container-fluid">
            <div class="span3">
            </div>
            <div class="span6">
                @RenderSection("featured", required: false)
                @if (TempData["notice"] != null)
                {
                    <h3>@TempData["notice"]</h3>
                }
                @RenderBody()
            </div>
            <div class="span3">
                @RenderSection("Map", required: false)
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrapjs")
        @RenderSection("scripts", required: false)      
        @Scripts.Render("~/bundles/ModifEffacer")  
    </body>
</html>
