<!DOCTYPE HTML>
<html>
    <head>
<<<<<<< HEAD
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="UTF-8" />
        <title>@ViewBag.Title - Mon application ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
=======
         <meta charset="utf-8" />
         <meta name="viewport" content="width=device-width" />
         <title>@ViewBag.Title</title>
         @Styles.Render("~/Content/bootstrapcss")
>>>>>>> origin/master
    </head>
    <header>
        <div class="container-fluid hero-unit">
            <div class="span3">
            </div>
            <div class="span3">
                <h1>@Html.ActionLink("Touristix", "Index", "Accueil", new { @class = "page-header" })</h1>
            </div>
            <div class="text-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <ul class="inline">
                    <li>@Html.ActionLink("Accueil", "Index", "Accueil")</li>
                    <li>@Html.ActionLink("Destinations", "Index", "Destination")</li>
                    <li>@Html.ActionLink("Nous Contacter", "ContactForm", "Contact")</li>
                </ul>
            </div>
        </div>
    </header>
    <body>
<<<<<<< HEAD
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Touristix", "Index", "Accueil")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Accueil", "Index", "Accueil")</li>
                            <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                            <li>@Html.ActionLink("Nous Contacter", "ContactForm", "Contact")</li>
                            <li>@Html.ActionLink("Meteo", "MeteoForm", "Meteo")</li>
                        </ul>
                    </nav>
                </div>
=======
        <div class="container-fluid">
            <div class="span3">
>>>>>>> origin/master
            </div>
            <div class="span6">
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
            <div class="span3">
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrapjs")
        @RenderSection("scripts", required: false)
    </body>
</html>
