@model Touristix.Models.AdministrationList

@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>

<div id="Destinations">

    <h3>Destinations</h3>
    <p>
    @Html.ActionLink("Créer nouvelle destination", "CreerDestination")
    </p>

    <table>
        <tr>
            <th>
                @Html.DisplayText("Nom")
            </th>
            <th>
                @Html.DisplayText("Pays")
            </th>
            <th>
                @Html.DisplayText("Region")
            </th>
            <th>
                @Html.DisplayText("Ville")
            </th>
            <th></th>
        </tr>
    @foreach (var item in Model.ListDestinationModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>
            <td>
                @Html.ActionLink("Modifier", "ModifierDestination", new { id = item.Id }) |
                @Html.ActionLink("Supprimer", "SupprimerDestination", new { id = item.Id })
            </td>
        </tr>
    }

    </table>
</div>

<div id="Batiments">

    <h3>Batiments</h3>
    <p>
    @Html.ActionLink("Créer nouveau batiment", "CreerBatiment")
    </p>

    <table>
        <tr>
            <th>
                @Html.DisplayText("Nom")
            </th>
            <th>
                @Html.DisplayText("URL")
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model.ListBatimentModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
            <td>
                @Html.ActionLink("Modifier", "ModifierBatiment", new { id = item.Id }) |
                @Html.ActionLink("Supprimer", "SupprimerBatiment", new { id = item.Id })
            </td>
        </tr>
    }

    </table>
</div>

<div id="Activités">

    <h3>Activités</h3>
    <p>
    @Html.ActionLink("Créer nouvelle activités", "CreerActivite")
    </p>

    <table>
        <tr>
            <th>
                @Html.DisplayText("Nom")
            </th>
            <th>
                @Html.DisplayText("URL")
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model.ListActiviteModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lieu)
            </td>
            <td>
                @Html.ActionLink("Modifier", "ModifierActivite", new { id = item.Id }) |
                @Html.ActionLink("Supprimer", "SupprimerActivite", new { id = item.Id })
            </td>
        </tr>
    }

    </table>
</div>
