@model Touristix.Models.AdministrationList

@{
    ViewBag.Title = "Administration";
}

<style>
    img
    {
        width: 50px;
        height: 50px;
    }
    .GrilleImages
    {
        display: table-cell;
        padding: 1px 5px;
    }
</style>

<script type="text/javascript">

    function SupprimerImageDestination(TagImage, Nom) {
        var xmlhttp;
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        var url = "/Admin/SupprimerImageDestination";

        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                Succes(xmlhttp.responseText);
            }
        }
        var params = "Nom=" + Nom
        xmlhttp.open("POST", url);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.setRequestHeader("Content-length", params.length);
        xmlhttp.setRequestHeader("Connection", "close");
        xmlhttp.send(params);

        function Succes(response) {
            alert("Image supprimée");
            TagImage.parentNode.removeChild(TagImage);
        }
    }

    function SupprimerImageBatiment(TagImage, Nom) {
        var xmlhttp;
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        var url = "/Admin/SupprimerImageBatiment";

        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                Succes(xmlhttp.responseText);
            }
        }
        var params = "Nom=" + Nom
        xmlhttp.open("POST", url);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.setRequestHeader("Content-length", params.length);
        xmlhttp.setRequestHeader("Connection", "close");
        xmlhttp.send(params);

        function Succes(response) {
            alert("Image supprimée");
            TagImage.parentNode.removeChild(TagImage);
        }
    }

</script>

<h2>Administration</h2>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#Données" role="tab" data-toggle="tab">Données</a></li>
  <li><a href="#Images" role="tab" data-toggle="tab">Images</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="Données">
        <div id="ListeDestinations">
            <h3>Destinations</h3>
            <p>
            @Html.ActionLink("Créer nouvelle destination", "CreerDestination")
            </p>

            <table>
                <tr>
                    <th>
                        @Html.DisplayText("Nom")
                    </th>
                    <th>
                        @Html.DisplayText("Pays")
                    </th>
                    <th>
                        @Html.DisplayText("Region")
                    </th>
                    <th>
                        @Html.DisplayText("Ville")
                    </th>
                    <th></th>
                </tr>
            @foreach (var item in Model.ListDestinationModel)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@item.Nom, "InformationDestination", new { id = item.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Region)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ville)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "ModifierDestination", new { id = item.Id }) |
                        <a href="#" onclick ='MessageBox(@item.Id, "/Destination/SupprimerDestination")'>Effacer</a>
                    </td>
                </tr>
            }

            </table>
        </div>

        <div id="ListeBatiments">

            <h3>Batiments</h3>
            <p>
            @Html.ActionLink("Créer nouveau batiment", "CreerBatiment")
            </p>

            <table>
                <tr>
                    <th>
                        @Html.DisplayText("Nom")
                    </th>
                    <th>
                        @Html.DisplayText("URL")
                    </th>
                    <th></th>
                </tr>

            @foreach (var item in Model.ListBatimentModel)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@item.Nom, "InformationBatiment", new { id = item.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.URL)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "ModifierBatiment", new { id = item.Id }) |
                        <a href="#" onclick ='MessageBox(@item.Id, "/Destination/ConfirmationSupprimerBatiment")'>Effacer</a>
                    </td>
                </tr>
            }

            </table>
        </div>

        <div id="ListeActivités">

            <h3>Activités</h3>
            <p>
            @Html.ActionLink("Créer nouvelle activités", "CreerActivite")
            </p>

            <table>
                <tr>
                    <th>
                        @Html.DisplayText("Nom")
                    </th>
                    <th>
                        @Html.DisplayText("URL")
                    </th>
                    <th></th>
                </tr>

            @foreach (var item in Model.ListActiviteModel)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@Html.DisplayFor(modelItem => item.Nom).ToString(), "InformationActivite", new { id = item.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lieu)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "ModifierActivite", new { id = item.Id }) |
                        <a href="#" onclick ='MessageBox(@item.Id, "/Destination/ConfirmationSupprimerActivite")'>Effacer</a>
                    </td>
                </tr>
            }

            </table>
        </div>
    </div>
    <div class="tab-pane" id="Images">
        <h3>Destinations</h3>
        <div class="row-fluid">
            <div class="thumbnails">
                @foreach (var item in Model.ArrayDestinationImage)
                {
                    <div class="GrilleImages" onclick="SupprimerImageDestination(this, '@item')">
                        <div class="thumbnail">
                            <a href="/Images/Destinations/@item">
                                <img src="/Images/Destinations/@item" alt="" />
                            </a>
                            <br />
                            <div><button class="close pull-right">&times;</button></div>
                            <br />
                        </div>
                    </div>
                }
            </div>
        </div>
        <h3>Batiments</h3>
        <div class="row-fluid">
            <div class="thumbnails">
                @foreach (var item in Model.ArrayBatimentImage)
                {
                    <div class="GrilleImages" onclick="SupprimerImageBatiment(this, '@item')">
                        <div class="thumbnail">
                            <a href="/Images/Batiments/@item">
                                <img src="/Images/Batiments/@item" alt="" />
                            </a>
                            <br />
                            <div><button class="close pull-right">&times;</button></div>
                            <br />
                        </div>
                    </div>
                }
            </div>
        </div>
        <h3>Activités</h3>
    </div>
</div>
