@model Touristix.Models.CreerDestinationALaUneModel

@{
    ViewBag.Title = "CreerDestinationALaUne";
}

<h2>CreerDestinationALaUne</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ajouter une destination à la une</legend>

        <div>
            <img src="/Images/Destinations/@Model.Destination.Image" onerror="ErreurImage(this)" alt="aucune image disponible"/>
        </div>
        
        <div>
            <h4>@Html.DisplayFor(model => model.Destination.Nom)</h4>
            @Html.DisplayNameFor(model => model.Destination.Pays)
            @Html.DisplayFor(model => model.Destination.Pays) <br />
            @Html.DisplayNameFor(model => model.Destination.Region)
            @Html.DisplayFor(model => model.Destination.Region)<br />
            @Html.DisplayNameFor(model => model.Destination.Ville)
            @Html.DisplayFor(model => model.Destination.Ville)<br /><br />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Destination.Nom)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Destination.Nom)
            @Html.ValidationMessageFor(model => model.Destination.Nom)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.ALaUne.Description)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.ALaUne.Description)
            @Html.ValidationMessageFor(model => model.ALaUne.Description)
        </div>

        <p>
            <input type="submit" value="Ajouter" />
        </p>

    </fieldset>
}

<div>
    @Html.ActionLink("Retour à l'index", "Admin")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
