@model Touristix.Models.ActiviteModel

@{
    ViewBag.Title = "Créer activité";
}

<h2>Créer activité</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>ActiviteModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nom)
            @Html.ValidationMessageFor(model => model.Nom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lieu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lieu)
            @Html.ValidationMessageFor(model => model.Lieu)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Image)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Image)
            @Html.ValidationMessageFor(model => model.Image)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Apercu)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Apercu)
            @Html.ValidationMessageFor(model => model.Apercu)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Details)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Details)
            @Html.ValidationMessageFor(model => model.Details)
        </div>

        <p>
            <input type="submit" value="Créer" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Retour à l'index", "Admin")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
