@model Touristix.Models.ActiviteModel

@{
    ViewBag.Title = "Créer activité";
}

<h2>Créer activité</h2>

@using (Html.BeginForm(new { role="form" })) {
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="form-group">
            @Html.LabelFor(model => model.Nom)
            @Html.TextBoxFor(model => model.Nom, new
            {
                @class = "form-control",
                placeholder = "Entrez nom",
                type = "text"
            })
            @Html.ValidationMessageFor(model => model.Nom)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Lieu)
            @Html.TextBoxFor(model => model.Lieu, new
            {
                @class = "form-control",
                placeholder = "Entrez lieu",
                type = "text"
            })
            @Html.ValidationMessageFor(model => model.Lieu)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ville)
            @Html.TextBoxFor(model => model.Ville, new
            {
                @class = "form-control",
                placeholder = "Entrez ville",
                type = "text"
            })
            @Html.ValidationMessageFor(model => model.Ville)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Adresse)
            @Html.TextBoxFor(model => model.Adresse, new
            {
                @class = "form-control",
                placeholder = "Entrez adresse",
                type = "text"
            })           
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Image)
            @Html.TextBoxFor(model => model.Image, new
            {
                @class = "form-control",
                placeholder = "Entrez image",
                type = "text"
            })
            @Html.ValidationMessageFor(model => model.Image)
        </div>
        
        <div class="form-group">
            Aperçu<br/>
            @Html.TextAreaFor(model => model.Apercu, new { @class = "form-control", placeholder = "Entrez aperçu" })
            @Html.ValidationMessageFor(model => model.Apercu)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Details)
            @Html.TextAreaFor(model => model.Details, new { @class = "form-control", placeholder = "Entrez détails" })
            @Html.ValidationMessageFor(model => model.Details)
        </div>

        <p>
            <input type="submit" value="Créer" class="btn btn-default" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Retour à l'index", "Admin")
</div>
