@model IEnumerable<Touristix.Models.DestinationModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @using (Html.BeginForm())
    {    
        <p> Nom: @Html.TextBox("DestinationNom") <br />
        
        Pays: @Html.TextBox("DestinationPays") <br />
        
        Région: @Html.TextBox("DestinationRegion") <br />
        
        <input type="submit" value="Recherche" /></p>
    } 
</p>

@foreach (var group in Model.GroupBy(item => item.Pays))
{
    @Html.Encode(group.Key)
    <ul>
    @foreach (var item in group)
    {
        <li>@Html.ActionLink(@Html.Encode(item.Nom), "Information", new { id = item.ID })</li>  
    }
    </ul>
}
