@model Tuple<Touristix.Models.DestinationModel[], IQueryable<IGrouping<string, Touristix.Models.DestinationModel>>>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/css/Custom")
<h2>Index</h2>
@section scripts {
    <script type="text/javascript">
        function MouseOverImage(Image, Nom, Apercu) {
            document.getElementById("Text").innerHTML = Nom + "<br />" + Apercu;
            document.getElementById("ImagePrincipale").style.backgroundImage = "url('Images/Destinations/" + Image + "')";
            document.getElementById("ImagePrincipale").style.backgroundSize = "500px 300px";
        }
    </script>
}
<div id="Intro">

@{
    string Image = "";
    string Nom = "";
    string Apercu = "";
    if (Model.Item1.Count() > 0)
    {
        Image = Model.Item1.First().Image;
        Nom = Model.Item1.First().Nom;
        Apercu = Model.Item1.First().Apercu;
    }
    <div class="ImagePrincipale" id="ImagePrincipale" style="background-image:url('Images/Destinations/@Image'); background-size:500px 300px">
    <div class="TexteEnBas" id="Text">
        @Nom <br /> @Apercu
    </div>
    <p class="TexteEnHaut">(text to appear at the top right of the image)</p>
    </div>

     <ul>
         @foreach (var p in Model.Item1)
         {
            <img onmouseover="MouseOverImage('@p.Image', '@p.Nom', '@p.Apercu')" class="ImageEnBas" src="Images/Destinations/@p.Image" alt="@Html.Encode(p.Nom)" /> 
         }
     </ul>
}
</div>
<div id="Recherche">
    @using (Html.BeginForm("Index", "Destination", FormMethod.Get))
    {
        <p> Nom: @Html.TextBox("DestinationNom") <br />
        
        Pays: @Html.TextBox("DestinationPays") <br />
        
        Région: @Html.TextBox("DestinationRegion") <br />
        
        <input type="submit" value="Filtrer" /></p>
        
    <div id="Trier">
        @Html.RadioButton("Trier", 0, new { onchange = "this.form.submit();", @checked = "checked" }) Trier par pays
        @Html.RadioButton("Trier", 1, new { onchange = "this.form.submit();" }) Trier par régions
        @Html.RadioButton("Trier", 2, new { onchange = "this.form.submit();" }) Trier par villes
    </div>
    }
</div>

<div id="Liste Destination">
@{
    foreach (var group in Model.Item2)
    {
        @Html.Encode(group.Key)
        <ul>
        @foreach (var item in group)
        {
            <li>@Html.ActionLink(@Html.Encode(item.Nom), "InformationDestination", new { id = item.ID })</li>  
        }
        </ul>
    }
}

</div>
