@model Touristix.Models.ActiviteModel

@{
    ViewBag.Title = "Information";
}

<img src="/Images/Activite/@Model.Image"
    onerror='if (this.src != "error.jpg") this.src = "error.jpg";this.alt="Image non disponible"; this.onerror=""'
    alt="@Model.Image"/>

<fieldset>
    <legend>@Html.DisplayFor(model => model.Nom)</legend>

    <dl>
        <dt>@Html.DisplayNameFor(model => model.Lieu)</dt>
        <dd>@Html.DisplayFor(model => model.Lieu)</dd>
        <dt>Aperçu</dt>
        <dd>@Html.DisplayFor(model => model.Apercu)</dd>
        <dt>@Html.DisplayNameFor(model => model.Details)</dt>
        <dd>@Html.DisplayFor(model => model.Details)</dd>
    </dl>
</fieldset>
<p>
    @Html.ActionLink("Retour à l'index", "Index")
</p>
