@model Touristix.Models.ActiviteModel

@{
    ViewBag.Title = "Information";
}

<script type="text/javascript" src="/Scripts/Touristix/Erreur Image.js"></script>
<img src="/Images/Activités/@Model.Image" onerror="ErreurImage(this)" alt="@Model.Image"/>

<fieldset>
    <legend>@Html.DisplayFor(model => model.Nom)</legend>

    <dl>
        <dt>@Html.DisplayNameFor(model => model.Lieu)</dt>
        <dd>@Html.DisplayFor(model => model.Lieu)</dd>
        <dt>@Html.DisplayNameFor(model => model.Adresse)</dt>
        <dd>@Html.DisplayFor(model => model.Adresse)</dd>
        <dt>Aperçu</dt>
        <dd>@Html.DisplayFor(model => model.Apercu)</dd>
        <dt>@Html.DisplayNameFor(model => model.Details)</dt>
        <dd>@Html.DisplayFor(model => model.Details)</dd>
    </dl>
</fieldset>
<p>
    @Html.ActionLink("Retour à l'index", "Index")
</p>
