@model Touristix.Models.BatimentModel

@{
    ViewBag.Title = "Information";
}

<img src= "/Images/Batiments/@Model.Image" alt="Image" />

<fieldset>
    <legend>@Html.DisplayFor(model => model.Nom)</legend>

    <dl>
      <dt>@Html.DisplayNameFor(model => model.URL)</dt>
      <dd><a href="@Html.DisplayFor(model => model.URL)">@Html.DisplayFor(model => model.URL)</a></dd>
      <dt>@Html.DisplayNameFor(model => model.Apercu)</dt>
      <dd>@Html.DisplayFor(model => model.Apercu)</dd>
      <dt>@Html.DisplayNameFor(model => model.Details)</dt>
      <dd>@Html.DisplayFor(model => model.Details)</dd>
    </dl>
</fieldset>
<p>
    @Html.ActionLink("Retour à l'index", "Index")
</p>
