@model Tuple<Touristix.Models.DestinationModel, Touristix.Models.Temperature>

@{
    ViewBag.Title = "Information";
}

<script type="text/javascript" src="/Scripts/Touristix/Erreur Image.js"></script>
<img src="/Images/Destinations/@Model.Item1.Image" onerror="ErreurImage(this)" alt="@Model.Item1.Image"/>

<script type="text/javascript">
    function ObtenirBatiment(Id, NomObjet) {
        var xmlhttp;
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        var url = '@Url.Action("ObtenirBatiment")';

        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                Succes(xmlhttp.responseText);
            }
        }
        var params = "Id=" + Id
        xmlhttp.open("POST", url);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.setRequestHeader("Content-length", params.length);
        xmlhttp.setRequestHeader("Connection", "close");
        xmlhttp.send(params);

        function Succes(response) {
            var Batiment = JSON.parse(response);
            var i;
            var out = "<a href=";
            out += "/Destination/InformationBatiment/" + Id + ">"
            out += Batiment.Nom;
            out += "</a>"

            document.getElementById(NomObjet).innerHTML = out;
        }
    }
    function ObtenirActivite(Id, NomObjet) {
        var xmlhttp;
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        var url = '@Url.Action("ObtenirActivite")';

        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                Succes(xmlhttp.responseText);
            }
        }
        var params = "Id=" + Id
        xmlhttp.open("POST", url);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.setRequestHeader("Content-length", params.length);
        xmlhttp.setRequestHeader("Connection", "close");
        xmlhttp.send(params);

        function Succes(response) {
            var Activite = JSON.parse(response);
            var i;
            var out = "<a href=";
            out += "/Destination/InformationActivite/" + Id + ">"
            out += Activite.Nom;
            out += "</a>"

            document.getElementById(NomObjet).innerHTML = out;
        }
    }
</script>

<fieldset>
    <h2>@Html.DisplayFor(model => model.Item1.Nom)</h2>
    <dl> 
    <dt>@Html.DisplayNameFor(model => model.Item1.Pays)</dt>
    <dd>@Html.DisplayFor(model => model.Item1.Pays)</dd>
    <dt>@Html.DisplayNameFor(model => model.Item1.Region)</dt>
    <dd>@Html.DisplayFor(model => model.Item1.Region)</dd>
    <dt>@Html.DisplayNameFor(model => model.Item1.Ville)</dt>
    <dd>@Html.DisplayFor(model => model.Item1.Ville)</dd>
    <dt>Aperçu</dt>
    <dd>@Html.DisplayFor(model => model.Item1.Apercu)</dd>
    <dt>@Html.DisplayNameFor(model => model.Item1.Details)</dt>
    <dd>@Html.DisplayFor(model => model.Item1.Details)</dd>
    <dt><legend>Bâtiments</legend></dt>
      
        @{
            string[] ArrayParametreBatiment = new string[1];
            ArrayParametreBatiment[0] = ";";
            string[] ArrayBatiment = @Model.Item1.BatimentIds.Split(ArrayParametreBatiment, StringSplitOptions.RemoveEmptyEntries);
        }
        @for (int B = 0; B < ArrayBatiment.Length; B++)
        {
            int IdActif = Convert.ToInt32(ArrayBatiment[B]);
            string IdNom = "Batiment" + B;
            <dt id=@IdNom></dt>

            <script type="text/javascript">ObtenirBatiment(@IdActif, "Batiment" + @B)</script>
        }
        <br />
    <dt><legend>Activités</legend></dt>
        @{
            string[] ArrayParametreActivite = new string[1];
            ArrayParametreActivite[0] = ";";
            string[] ArrayActivite = @Model.Item1.ActiviteIds.Split(ArrayParametreActivite, StringSplitOptions.RemoveEmptyEntries);
        }
        @for (int B = 0; B < ArrayActivite.Length; B++)
        {
            int IdActif = Convert.ToInt32(ArrayActivite[B]);
            string IdNom = "Activite" + B;
            <dt id=@IdNom></dt>

            <script type="text/javascript">ObtenirActivite(@IdActif, "Activite" + @B)</script>
        }
    </dl> 
</fieldset>

<script type = "text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script> 
   
<script type = "text/javascript">
    function AfficheLaCarte() {
        var map;                
        var Lieu = document.getElementById("AfficheCarte").value;                            
        var mapOptions = {
            zoom: 8,
            center: new google.maps.LatLng(-34.397, 150.644)
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        new google.maps.Geocoder().geocode({ 'address': Lieu }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var marker = new google.maps.Marker({
                    map: map,
                    draggable: true
                });
                marker.setPosition(results[0].geometry.location);
                map.setCenter(results[0].geometry.location);
                map.setZoom(15);
            }
            else {
                alert("Une erreur s'est produite en affichant la carte: " + status);
            }
        });
        google.maps.event.addDomListener(window, 'load', initialize);
    }
</script>
        
@section Map {
  @Html.Label("Rechercher un lieu par adresse:")
  <input type="text" id="AfficheCarte"/>
  <input type ="button" value="Afficher la carte" onclick="AfficheLaCarte()" />

  <div id="map-canvas" style="width: 100%; height: 480px; margin: 0px; padding: 0px;"/>
}
<br /><br />
<h4>Météo</h4>
<h5>Prévisions actuelles</h5>
@if (Model.Item2 != null)
{
    <span>Pays: @Model.Item2.sys.country</span> <br />
    <span>Température actuelle: @Model.Item2.main.temp degrés Celcius</span> <br/>
    <span>Pression: @Model.Item2.main.pressure kPa</span> <br />
    <span>Taux d'humidité: @Model.Item2.main.humidity %</span> <br />
    <span>Vitesse du vent: @Model.Item2.wind.speed km/h</span><br/>
    <span>Direction du vent: @Model.Item2.wind.DirectionVent</span><br />
    <span>Temps actuel: @Model.Item2.weather[0].description</span>
    <img src ="@Model.Item2.weather[0].icon" alt="image manquant" /><br/>      
    
    <h5>Tendances</h5>
    <span>Température minimale: @Model.Item2.main.temp_min degrés Celcius</span><br/>
    <span>Température maximale: @Model.Item2.main.temp_max degrés Celcius</span><br/> <br/> <br/>
}
<p>
    @Html.ActionLink("Retour à l'index", "Index")
</p>
