@model Touristix.Models.BatimentModel

@{
    ViewBag.Title = "Modifier";
}

<h2>Modifier</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nom)
            @Html.TextBoxFor(model => model.Nom, new
            {
                @class = "form-control",
                placeholder = "Entrez un nom",
                type = "text"
            })
            @Html.ValidationMessageFor(model => model.Nom)
        </div>
        
        @Html.Partial("~/Views/Destination/_AjoutModifActivite.cshtml", Model)
        
        <div class="form-group">
            @Html.LabelFor(model => model.Adresse)
            @Html.TextBoxFor(model => model.Adresse, new
            {
                @class = "form-control",
                placeholder = "Entrez une adresse",
                type = "text"
            })
            @Html.ValidationMessageFor(model => model.Adresse)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ville)
            @Html.TextBoxFor(model => model.Ville, new
            {
                @class = "form-control",
                placeholder = "Entrez une ville",
                type = "text"
            })
            @Html.ValidationMessageFor(model => model.Ville)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image)
            @Html.TextBoxFor(model => model.Image, new
            {
                @class = "form-control",
                placeholder = "Entrez une image",
                type = "text"
            })
            @Html.ValidationMessageFor(model => model.Image)
        </div>
        
        <div class="form-group">
            Aperçu<br/>
            @Html.TextAreaFor(model => model.Apercu, new { @class = "form-control", placeholder = "Entrez aperçu" })
            @Html.ValidationMessageFor(model => model.Apercu)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Details)
            @Html.TextAreaFor(model => model.Details, new { @class = "form-control", placeholder = "Entrez détails" })
            @Html.ValidationMessageFor(model => model.Details)
        </div>

        <p>
            <input type="submit" value="Save" class="btn btn-default" />
        </p>
    </fieldset>
}


<div>
    @Html.ActionLink("Retour à l'index", "Admin")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
