@model IEnumerable<Touristix.Models.ContactDB>

@{
    ViewBag.Title = "Index";
}

<h2>Commentaires</h2>

<table>
    <tr>
        <th>
            @Html.DisplayName("#")
        </th>
        <th>
            @Html.DisplayName("Nom")
        </th>
        <th>
            @Html.DisplayName("Courriel")
        </th>
        <th>
            @Html.DisplayName("Catégorie")
        </th>     
        <th>
            @Html.DisplayName("Commentaires")
        </th> 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courriel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categorie)
        </td> 
        <td>
            @Html.TextAreaFor(modelItem => item.commentaires, new { @readonly = true, style = "width: 675px; height:80px;" })
        </td>     
        <td> 
            <a href="#" onclick ='MessageBox(@item.id, "/Contact/ConfirmationEffacer")'>Effacer</a>             
        </td>
    </tr>
}
</table>

