@model Tuple<Touristix.Models.ContactMessage, IEnumerable<Touristix.Models.ContactDB>>

@{
    ViewBag.Title = "Index";
}

<h2>Commentaires</h2>



@using (Html.BeginForm())
{
    <div>
        @Html.Label("Trier par: ")
        @Html.RadioButton("tri", "Suggestion", new { @checked = true })Suggestion &nbsp;&nbsp;&nbsp;
        @Html.RadioButton("tri","Information")Information   &nbsp;&nbsp;&nbsp;
        @Html.RadioButton("tri", "Commentaire")Commentaire   &nbsp;&nbsp;&nbsp;
        @Html.RadioButton("tri", "Plainte")Plainte<br /> <br />       
    </div>
    <button type ="submit">Trier</button>
}

<table>
    <tr>
        <th>
            @Html.DisplayName("#")
        </th>
        <th>
            @Html.DisplayName("Nom")
        </th>
        <th>
            @Html.DisplayName("Courriel")
        </th>
        <th>
            @Html.DisplayName("Catégorie")
        </th>     
        <th>
            @Html.DisplayName("Commentaires")
        </th> 
        <th></th>
    </tr>
 
@if (@ViewData["query"] == "")
{
    foreach (var item in Model.Item2)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courriel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categorie)
            </td> 
            <td>
                @Html.TextAreaFor(modelItem => item.commentaires, new { @readonly = true, style = "width: 675px; height:80px;" })
            </td>     
            <td> 
                <a href="#" onclick ='MessageBox(@item.id, "/Contact/ConfirmationEffacer")'>Effacer</a>             
            </td>
        </tr>
    }
}
else
{   
    
        foreach (var item in Model.Item1.contacts)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courriel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categorie)
            </td> 
            <td>
                @Html.TextAreaFor(modelItem => item.commentaires, new { @readonly = true, style = "width: 675px; height:80px;" })
            </td>     
            <td> 
                <a href="#" onclick ='MessageBox(@item.id, "/Contact/ConfirmationEffacer")'>Effacer</a>             
            </td>
        </tr>
        }
}
</table>

