@using System.Linq
@model Touristix.Models.Temperature

@{
    ViewBag.Title = "Prévisions météorologiques";
 }

<h2>Prévisions actuelles</h2>

    <br />
    Pays: @Model.sys.country <br />
    Température actuelle: @Model.main.temp<br/>  
    Pression: @Model.main.pressure kPa <br />
    Taux d'humidité: @Model.main.humidity % <br />
    Vitesse du vent: @Model.wind.speed km/h<br/>
    Direction du vent: @Model.wind.DirectionVent<br />
    Temps actuel: @Model.weather[0].description
    <img src ="@Model.weather[0].icon" alt="image manquant" /><br/>  
    
    
<h2>Tendances</h2> 
<br />
    Température minimale: @Model.main.temp_min<br/>
    Température maximale: @Model.main.temp_max<br/>  

