@model Tuple<Touristix.Models.BatimentModel[], object, List<SelectListItem>>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/css/Custom")
<h2>Bâtiments</h2>
@section scripts {

    <script type="text/javascript">
        function MouseOverImage(Image, Nom, Apercu) {
            document.getElementById("Text").innerHTML = Nom + "<br />" + Apercu;
            document.getElementById("ImagePrincipale").style.backgroundImage = "url('Images/Batiments/" + Image + "')";
            document.getElementById("ImagePrincipale").style.backgroundSize = "500px 300px";
        }

    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            function fRemplirVilles() {
                var pays = $("#DestinationPays :selected").text();
                var url = 'Destination/ObtenirVille';
                var donnees = { "strPays": pays };
                $.post(url, donnees, function (reponse) {
                    var liste = [];
                    for (var i = 0; i < reponse.length; i++) {
                        liste.push("<option value=" + reponse[i].Value + ">" + reponse[i].Text + "</option>");
                    }
                    $("#DestinationVille").html(liste.join(' '));
                });
            }

            fRemplirVilles();

            $("#DestinationPays").change(fRemplirVilles);
        });
    </script>
}
<div id="Intro">

@{
    string Image = "";
    string Nom = "";
    string Apercu = "";
    if (Model.Item1.Count() > 0)
    {
        Image = Model.Item1.First().Image;
        Nom = Model.Item1.First().Nom;
        Apercu = Model.Item1.First().Apercu;
    }
    <div class="ImagePrincipale" id="ImagePrincipale" style="background-image:url('Images/Batiments/@Image'); background-size:500px 300px">
    <div class="TexteEnBas" id="Text">
        @Nom <br /> @Apercu
    </div>
    <p class="TexteEnHaut">(text to appear at the top right of the image)</p>
    </div>

     <ul>
         @foreach (var p in Model.Item1)
         {
            <img onmouseover="MouseOverImage('@p.Image', '@p.Nom', '@p.Apercu')" class="ImageEnBas" src="Images/Batiments/@p.Image" alt="@p.Nom" /> 
         }
     </ul>
}
</div>
<div id="Recherche">
    @using (Html.BeginForm("Index", "Batiment", FormMethod.Get))
    {
        <p> Nom: @Html.TextBox("DestinationNom") <br />

        Pays: @Html.DropDownList("DestinationPays", Model.Item3) <br />

        Ville: @Html.DropDownList("DestinationVille", "") <br />

        Région: @Html.TextBox("DestinationRegion") <br />
        
        <input type="submit" value="Filtrer" class="btn btn-default" /></p>
        
    <div id="Trier">
        @Html.RadioButton("Trier", 0, new { onchange = "this.form.submit();", @checked = "checked" }) Trier par pays
        @Html.RadioButton("Trier", 1, new { onchange = "this.form.submit();" }) Trier par régions
        @Html.RadioButton("Trier", 2, new { onchange = "this.form.submit();" }) Trier par villes
        @Html.RadioButton("Trier", 3, new { onchange = "this.form.submit();" }) Trier par nom
    </div>
    }
</div>

<div id="Liste Batiment">
@{
    int trier = Convert.ToInt32(Request.Params.Get("Trier"));
    int nbBatiment = 0;
    switch (trier)
    {
        case 0:
        case 1:
        case 2:
            Dictionary<string, List<Touristix.Models.BatimentModel>> BatimentParPays = (Dictionary<string, List<Touristix.Models.BatimentModel>>)Model.Item2;
            foreach (var group in BatimentParPays)
            {
                @group.Key
                <ul>
                @foreach (var item in group.Value)
                {
                    <li>@Html.ActionLink(item.Nom, "InformationBatiment", new { id = item.Id })</li>
                    nbBatiment++;
                }
                </ul>
            }
            break;

        case 3:
            IOrderedQueryable<Touristix.Models.BatimentModel> BatimentParOrdre = (IOrderedQueryable<Touristix.Models.BatimentModel>)Model.Item2;
                <ul>
                @foreach (var item in BatimentParOrdre)
                {
                    <li>@Html.ActionLink(item.Nom, "InformationBatiment", new { id = item.Id })</li>
                    nbBatiment++;
                }
                </ul>
                break;
    }

    if (nbBatiment == 0)
    {
        <p><b>Aucun résultat trouvé</b></p>
    }
}

</div>
