@model Touristix.Models.AdministrationList

@{
    ViewBag.Title = "Administration";
}

@Styles.Render("~/Content/css/Téléversement.css")

<style>
    .Miniature
    {
        width: 50px;
        height: 50px;
    }
    .GrilleImages
    {
        display: table-cell;
        padding: 1px 5px;
    }
</style>

<script type="text/javascript" src="/Scripts/Téléversement.js"></script>
<script type="text/javascript">

    function SupprimerImage(TagImage, Nom, url) {
        if (confirm("Voulez-vous vraiment supprimer cette image?")) {
            var xmlhttp;
            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            }
            else {// code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    Succes(xmlhttp.responseText);
                }
            }
            var params = "Nom=" + Nom
            xmlhttp.open("POST", url);
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.setRequestHeader("Content-length", params.length);
            xmlhttp.setRequestHeader("Connection", "close");
            xmlhttp.send(params);

            function Succes(response) {
                alert("Image supprimée");
                var TagASupprimer = TagImage.parentNode.parentNode;
                TagASupprimer.parentNode.removeChild(TagASupprimer);
            }
        }
    }

</script>

<h2>Administration</h2>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#Données" role="tab" data-toggle="tab">Données</a></li>
  <li><a href="#Images" role="tab" data-toggle="tab">Images</a></li>
</ul>

<div class="modal fade" id="BoiteDeContenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <img id="Aperçu"/>
    <div class="progress" id="Contenantprogressbar">
        <div class="progress bar" role="progressbar" style="width: 10%; height=100%" id="Barre de progression">
        0%
        </div>
    </div>
    <a class="btn btn-default" id="BoutonVoirImage" href="">Voir Image</a>
    <button class="btn btn-default" data-dismiss="modal" id="BoutonFermer" onclick="FermerForm()">Fermer</button>
    <label id="LabelNomImage">Nom image</label>
</div>

<div class="tab-content">
    <div class="tab-pane active" id="Données">
        <div id="ListeDestinations">
            <h3>Destinations</h3>
            <p>
            @Html.ActionLink("Créer nouvelle destination", "CreerDestination")
            </p>

            <table>
                <th>
                    Nom
                </th>
                <th>
                    Pays
                </th>
                <th>
                    Region
                </th>
                <th>
                    Ville
                </th>
            @foreach (var item in Model.ListDestinationModel)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@item.Nom, "InformationDestination", "Destination", new { id = item.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Region)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ville)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "ModifierDestination", new { id = item.Id }) |
                        <a href="#" onclick ='MessageBox(@item.Id, "/Admin/SupprimerDestination")'>Effacer</a>
                    </td>
                </tr>
            }

            </table>
        </div>

        <div id="ListeBatiments">

            <h3>Bâtiments</h3>
            <p>
            @Html.ActionLink("Créer nouveau bâtiment", "CreerBatiment")
            </p>

            <table>
                <th>
                    Nom
                </th>
                <th>
                    URL
                </th>

            @foreach (var item in Model.ListBatimentModel)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@item.Nom, "InformationBatiment", "Destination", new { id = item.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.URL)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "ModifierBatiment", new { id = item.Id }) |
                        <a href="#" onclick ='MessageBox(@item.Id, "/Admin/ConfirmationSupprimerBatiment")'>Effacer</a>
                    </td>
                </tr>
            }

            </table>
        </div>

        <div id="ListeActivités">

            <h3>Activités</h3>
            <p>
            @Html.ActionLink("Créer nouvelle activité", "CreerActivite")
            </p>

            <table>
                <th>
                    Nom
                </th>
                <th>
                    Lieu
                </th>

            @foreach (var item in Model.ListActiviteModel)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Nom, "InformationActivite", "Destination", new { id = item.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lieu)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "ModifierActivite", new { id = item.Id }) |
                        <a href="#" onclick ='MessageBox(@item.Id, "/Admin/ConfirmationSupprimerActivite")'>Effacer</a>
                    </td>
                </tr>
            }

            </table>
        </div>
    </div>
    <div class="tab-pane" id="Images">
        <h3>Destinations</h3>

        <form id="FileFormDestination">
            Choisir image:  <input type='file' id='FichierDestination' accept="image/*">
                            <input type='button' class="btn btn-default" value='Envoyer' onclick="EnvoyerImageDestination()">
        </form>

        <div class="row-fluid">
            <div class="thumbnails" id="ThumbnailsDestination">
                @foreach (var item in Model.ArrayDestinationImage)
                {
                    <div class="GrilleImages">
                        <div class="thumbnail">
                            <a href="/Images/Destinations/@item">
                                <img src="/Images/Destinations/@item" class="Miniature" alt="" />
                            </a>
                            <br />
                            <div><button class="close pull-right" onclick="SupprimerImage(this, '@item', '/Admin/SupprimerImageDestination')">&times;</button></div>
                            <br />
                        </div>
                    </div>
                }
            </div>
        </div>
        <h3>Batiments</h3>

        <form id="FileFormBatiment">
            Choisir image:  <input type='file' id='FichierBatiment' accept="image/*">
                            <input type='button' class="btn btn-default" value='Envoyer' onclick="EnvoyerImageBatiment()">
        </form>

        <div class="row-fluid">
            <div class="thumbnails" id="ThumbnailsBatiment">
                @foreach (var item in Model.ArrayBatimentImage)
                {
                    <div class="GrilleImages">
                        <div class="thumbnail">
                            <a href="/Images/Batiments/@item">
                                <img src="/Images/Batiments/@item" class="Miniature" alt="" />
                            </a>
                            <br />
                            <div><button class="close pull-right" onclick="SupprimerImage(this, '@item', '/Admin/SupprimerImageBatiment')">&times;</button></div>
                            <br />
                        </div>
                    </div>
                }
            </div>
        </div>
        <h3>Activités</h3>

        <form id="FileFormActivité">
            Choisir image:  <input type='file' id='FichierActivité' accept="image/*">
                            <input type='button' class="btn btn-default" value='Envoyer' onclick="EnvoyerImageActivite()">
        </form>
        
        <div class="row-fluid">
            <div class="thumbnails" id="ThumbnailsActivité">
                @foreach (var item in Model.ArrayActiviteImage)
                {
                    <div class="GrilleImages">
                        <div class="thumbnail">
                            <a href="/Images/Activités/@item">
                                <img src="/Images/Activités/@item" class="Miniature" alt="" />
                            </a>
                            <br />
                            <div><button class="close pull-right" onclick="SupprimerImage(this, '@item', '/Admin/SupprimerImageActivite')">&times;</button></div>
                            <br />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var _progress = document.getElementById('Barre de progression'),
    BoiteDeContenu = document.getElementById('BoiteDeContenu'),
    BoutonVoirImage = document.getElementById('BoutonVoirImage'),
    Image = document.getElementById("Aperçu"),
    NomImage = document.getElementById('LabelNomImage');
</script>
