@model Touristix.Models.ActiviteModel

@{
    ViewBag.Title = "Modifier";
}

<h2>Modifier</h2>

@using (Html.BeginForm(new { role="form" }))
{
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nom)
            @Html.EditorFor(model => model.Nom, new
            {
                @class = "form-control",
                placeholder = "Entrez un nom",
                type = "text"
            })
            @Html.ValidationMessageFor(model => model.Nom)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Lieu)
            @Html.EditorFor(model => model.Lieu, new
            {
                @class = "form-control",
                placeholder = "Entrez un lieu",
                type = "text"
            })
            @Html.ValidationMessageFor(model => model.Lieu)
        </div>
    
        <div class="form-group">
            @Html.Label("Adresse civique")
            @Html.TextBoxFor(model => model.Adresse, new
            {
                @class = "form-control",
                placeholder = "Entrez un adresse civique",
                type = "text"
           })            
        </div>
            
        <div class="form-group">
            @Html.LabelFor(model => model.Image)
            @Html.EditorFor(model => model.Image, new
            {
                @class = "form-control",
                placeholder = "Entrez une image",
                type = "text"
            })
            @Html.ValidationMessageFor(model => model.Image)
        </div>
        
        <div class="form-group">
            Aperçu<br/>
            @Html.TextAreaFor(model => model.Apercu, new { @class = "form-control", placeholder = "Entrez aperçu" })
            @Html.ValidationMessageFor(model => model.Apercu)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Details)
            @Html.TextAreaFor(model => model.Details, new { @class = "form-control", placeholder = "Entrez détails" })
            @Html.ValidationMessageFor(model => model.Details)
        </div>

        <p>
            <input type="submit" value="Modifier" class="btn btn-default" />
        </p>
}

<div>
    @Html.ActionLink("Retour à l'index", "Index")
</div>
